input[type="text"] {
    width: 100%;
    padding: 5px;
    height: 35px;
}

.rows {
    margin: 10px;
}

ul {
    text-align: left;
    list-style-type: none;
}

label:hover,
input[type="checkbox"] {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 1fr 0fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . ." ". searchTermRow1 searchTermRow1 yearRow2Col2 ." ". authorNameRow3Col1 authorNameRow3Col1 authorAffiliationRow3Col2 ." ". volumeRow4Col1 issueRow4Col2 pageRow4Col3 ." ". abstractRow5Col1 abstractRow5Col1 abstractRow5Col1 ." ". titleRow6Col1 titleRow6Col1 titleRow6Col1 ." ". referencesRow7Col1 referencesRow7Col1 issnIsbnRow8Col1 ." ". . . . ." ". articleTypesRow9Col1 articleTypesRow9Col1 articleTypesRow9Col1 ." ". downloadBibtexRow10Col1 downloadBibtexRow10Col1 downloadBibtexRow10Col1 .";
}

.searchTermRow1 {
    grid-area: searchTermRow1;
}

.yearRow2Col2 {
    grid-area: yearRow2Col2;
}

.authorNameRow3Col1 {
    grid-area: authorNameRow3Col1;
}

.authorAffiliationRow3Col2 {
    grid-area: authorAffiliationRow3Col2;
}

.volumeRow4Col1 {
    grid-area: volumeRow4Col1;
}

.issueRow4Col2 {
    grid-area: issueRow4Col2;
}

.pageRow4Col3 {
    grid-area: pageRow4Col3;
}

.abstractRow5Col1 {
    grid-area: abstractRow5Col1;
}

.titleRow6Col1 {
    grid-area: titleRow6Col1;
}

.referencesRow7Col1 {
    grid-area: referencesRow7Col1;
}

.issnIsbnRow8Col1 {
    grid-area: issnIsbnRow8Col1;
}

.articleTypesRow9Col1 {
    grid-area: articleTypesRow9Col1;
}

.downloadBibtexRow10Col1 {
    grid-area: downloadBibtexRow10Col1;
}

.grid-container-articleType {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "articleTypeCol1 articleTypeCol2 articleTypeCol3" "articleTypeCol1 articleTypeCol2 articleTypeCol3" "articleTypeCol1 articleTypeCol2 articleTypeCol3";
}

.articleTypeCol1 {
    grid-area: articleTypeCol1;
}

.articleTypeCol2 {
    grid-area: articleTypeCol2;
}

.articleTypeCol3 {
    grid-area: articleTypeCol3;
}

#topHeading{
    color: white;
    text-align: center;
	padding-top: 15px;
	margin-bottom: 15px;
}
