body{
	background: #000000;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7); */
	/*background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#topHeading{
	color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 0.6fr 1.6fr 1fr;
  grid-template-rows: 3.0fr 1.3fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
	"searchArea searchArea filterArea filterArea"
	"searchArea searchArea filterArea filterArea"
	". . . .";
}

.searchArea { grid-area: searchArea;}
.searchArea > *{ padding: 5px; margin: 5px;}
.filterArea { grid-area: filterArea; }
.filterArea > * { padding: 5px; margin: 5px;}

.rowMarginTop{margin-top: 3px;}

select{
	margin-right: 5px;
	margin-left: 5px;
	height: 30px;
	width: 250px;
	padding: 3px;
}

select:hover{
	background-color: #007BFF;
	border: 1px solid #007BFF;
	color: white;
	box-shadow: 0px 0px 5px #007BFF;
}

option{
	background-color: white;
	color: #007BFF;
}

input[type=text]:hover{
	border: 2px solid #007BFF;
	box-shadow: 0px 0px 5px #007BFF;
}

#getFiltersButton:hover{
	cursor: pointer;
	outline: none;
	border: 2px solid #007BFF;
	background-color: #007BFF;
	color: white;
}

input:hover::-webkit-input-placeholder{
	color: white;
}



.add-del-Button{
	width: 30px;
	border: 2px solid #007BFF;
	background-color: white;
	color: #007BFF;
	outline: none;
	cursor: pointer;
	border-radius: 50%;	
	margin-left: 5px;
}

.add-del-Button:hover{
	color: white;
	box-shadow: 0px 0px 5px #007BFF;
	background-color: #007BFF;
	border-color: white;
	transform: scale(1.1);
}

#buttonLiteratureType1{
	width: 30px;
	color: white;
	background-color: white;
	border-color: white;
	border: 2px solid white;
	border-radius: 50%;
}

#buttonLiteratureType1:hover{
	
}


.from-to-label{
	margin-right: 10px;
	margin-left: 10px;
}


.error::-webkit-input-placeholder{
	color: red;
}

.pass{
	color: green;
}

.fail{
	color: red;
}