/*input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

body{
    background: #000000;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7); */
    /*background: linear-gradient(to top, #FFFDE4, #005AA7);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.card{
    opacity: 0.96;
}*/

#topHeading{
    color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr .6fr .6fr .6fr .6fr;
  gap: 0px 0px;
  grid-template-areas:
    "titleArea titleArea titleArea titleArea"
    "searchWithinArea searchWithinArea searchWithinArea searchWithinArea"
    "filtersArea filtersArea filtersArea filtersArea"
    "publicationDateArea publicationDateArea publicationDateArea publicationDateArea"
    "downloadButtonArea downloadButtonArea downloadButtonArea downloadButtonArea";
}

.titleArea { grid-area: titleArea; }

.searchWithinArea { grid-area: searchWithinArea; }

.filtersArea { grid-area: filtersArea; }

.publicationDateArea { grid-area: publicationDateArea; }

.downloadButtonArea { grid-area: downloadButtonArea; margin-top: 10px;}

/*.red{   color: red; }*/

#publicationDate{
    display: inline-block; text-align: center; padding:5px; margin: 5px;
}
.rowMarginTop{margin-top: 3px; margin-bottom: 3px;}

#publicationDate >*{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
}
select{
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    width: 150px;
    padding: 3px;
}

select:hover{
    background-color: #007BFF;
    border: 1px solid #007BFF;
    color: white;
    box-shadow: 0px 0px 5px #007BFF;
}

option{
    background-color: white;
    color: #007BFF;
}

input:hover{
    border: 2px solid #007BFF;
    box-shadow: 0px 0px 5px #007BFF;
}

input:hover::-webkit-input-placeholder{
    color: white;
}

.add-del-Button{
    width: 30px;
    border: 2px solid #007BFF;
    background-color: white;
    color: #007BFF;
    outline: none;
    cursor: pointer;
    border-radius: 50%; 
    margin-left: 5px;
}

.add-del-Button:hover{
    color: white;
    background-color: #007BFF;
    border-color: white;
    transform: scale(1.1);
}

.from-to-label{
    margin-right: 10px;
    margin-left: 10px;
}

/*
label {
    font-size: 80%;
}
*/

    /*1rem = 16px*/

/* Small devices (landscape phones, 544px and up) */
/*
@media (min-width: 544px) {
    h1 {
        font-size: 1.5rem;
    }
    
}*/


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/*
@media (min-width: 768px) {
    h1 {
        font-size: 1rem;
    }

}
*/

/* Large devices (desktops, 992px and up) */
/*
@media (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
}
*/

/* Extra large devices (large desktops, 1200px and up) */
/*
@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
}

*/
/* input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
}

.inputText {
    font-size: 14px;
    width: 200px;
    height: 35px;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 28px;
    transition: 0.2s ease all;
} */
