<!DOCTYPE html>
<html>
<head>
	<title>SLR: Crawler & Scraper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<h1> Testing</h1>
	<div class="container">
	<div class="card text-center">
	  <div class="card-header">
	    <ul class="nav nav-tabs card-header-tabs">
	      <li class="nav-item">
	        <a class="nav-link" href="/">All</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link active" href="/ACM">ACM</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/IEEE">IEEE</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/Springer">Springer</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="">ScienceDirect</a>
	      </li>
	    </ul>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
</div>
	<form action = "/receive_data" method="POST">
		<input type="text" name="input_data">
	</form>
</body>
</html>