<!DOCTYPE html>
<html>

<head>
    <title>SLR: Crawler & Scraper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}    
    <link rel= "stylesheet" type= "text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'springerStyle.css' %}">
    <link rel= "stylesheet" type= "text/css" href="{% static 'landing.css' %}">
	
</head>

<body onload="updateYear()">
    <div class="container">
        <h1 id="topHeading">Literature Library</h1>
        <div class="card">
            <div class="card-header ">
                <ul class="nav nav-tabs nav-fill card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acm">ACM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ieee">IEEE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/springer">Springer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scienceDirect">ScienceDirect</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h3 class="card-title">Advanced Search</h3>
                <p class="card-text">Search For Literature in ACM, IEEE, Springer and ScienceDirect</p>
                <hr>
				<form name = "main_form" action="/fetchAll" method="POST">
                    
					<div class="grid-container">
					  <div class="searchAreaRow1Col1">
							
							<input type="text" class="form-control inputText" id="validationDefault01" name="basic" placeholder="Search String">
					  </div>
					  <div class="titleAreaRow1Col1">
							
							<input type="text" class="form-control" id="validationDefault03" name="title" placeholder="Title">
					  </div>
					  <div class="authorAreaRow2Col1">
							
                            <input type="text" class="form-control" id="validationDefault04" name="author" placeholder="Author">
					  </div>
					  <div class="authorKeywordAreaRow2Col2">
							
                            <input type="text" class="form-control" id="validationDefault05" name="authSpecKey" placeholder="Author Specific Keywords">
					  </div>
					  <div class="issnAreaRow3Col1">
							
                            <input type="text" class="form-control" id="validationDefault06" name="issn" placeholder="ISSN"> 
					  </div>
					  <div class="isbnAreaRow3Col2">
							
                            <input type="text" class="form-control" id="validationDefault07" name="isbn" placeholder="ISBN">
					  </div>
					  <div class="yearStartAreaRow4Col1">
							<label for="yearStart">Year Start</label>
                            <input type="number" class="form-control" id="yearStart" value = "1872" min = "1872" name="yearStart">
					  </div>
					  <div class="yearEndAreaRow4Col2">
							<label for="yearEnd">Year End</label>
                            <input type="number" class="form-control" id="yearEnd" min = "1872" name="yearEnd">
					  </div>
					  <div class="downloadButtonAreaRow5">
		                    <br>
							<div id="message"></div>
							<br>
							<button class="btn btn-primary" type="submit" onclick=" return validate()">Download BibTex</button>
					  </div>
					</div>
					
				</form>
            </div>
        </div>
    </div>
    <script src="{% static 'landing.js' %}"></script>
</body>


</html>
