<!DOCTYPE html>
<html>

<head>
    <title>SLR: Crawler & Scraper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}    
    <link rel= "stylesheet" type= "text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="/static/springerStyle.css">
</head>

<body onload="updateYear()">
    <div class="container">
        <h1 id="topHeading">Literature Library</h1>
        <div class="card">
            <div class="card-header ">
                <ul class="nav nav-tabs nav-fill card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acm">ACM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ieee">IEEE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/springer">Springer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scienceDirect">ScienceDirect</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <p>Search for literature in ACM, IEEE, Springer and ScienceDirect</p>
                <form name = "main_form" action="/fetchAll" method="POST">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Search</label>
                            <input type="text" class="form-control inputText" id="validationDefault01" name="basic">
                            <!-- <span class="floating-label">Find articles with these terms</span> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault03">Title</label>
                            <input type="text" class="form-control" id="validationDefault03" name="title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault04">Author</label>
                            <input type="text" class="form-control" id="validationDefault04" name="author">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault05">Author Specific Keywords</label>
                            <input type="text" class="form-control" id="validationDefault05" name="authSpecKey">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault06">ISSN</label>
                            <input type="text" class="form-control" id="validationDefault06" name="issn">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault07">ISBN</label>
                            <input type="text" class="form-control" id="validationDefault07" name="isbn">
                        </div>
                    </div>
                    <div class="form-row">
                    	<div class="col-md-3 mb-3">
                            <label for="yearStart">Year Start</label>
                            <input type="number" class="form-control" id="yearStart" value = "1872" min = "1872" name="yearStart">

                            <label for="yearEnd">Year End</label>
                            <input type="number" class="form-control" id="yearEnd" min = "1872" name="yearEnd">
                    	</div>
                    </div>
                    <div id="message"> </div>
                    <br><br>
                    <button class="btn btn-primary" type="submit" onclick=" return validate()">Search</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'landing.js' %}"></script>
</body>


</html>