<!DOCTYPE html>
<html>
<head>
	<title>SLR: Crawler & Scraper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<div class="container">
		<h1 id="topHeading">Literature Library</h1>
	<div class="card text-center">
	  <div class="card-header">
	    <ul class="nav nav-tabs nav-fill card-header-tabs">
	      <li class="nav-item">
	        <a class="nav-link" href="/">All</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/ACM">ACM</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/IEEE">IEEE</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link active" href="/Springer">Springer</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/ScienceDirect">ScienceDirect</a>
	      </li>
	    </ul>
	  </div>
	  <div class="card-body">
	    	
			<div class="grid-container">
			  <div class="searchArea">
					<h3 class="card-title">Advanced Search</h3>
					<hr>
					<p class="card-text">Search within Springer Library</p>
					<input id="searchString" name="searchString" type="text" placeholder="Enter Search String" style="width: 300px;">
					<input id="getFiltersButton" type="button" value="Fetch Customized filters from Springer" style="width: 300px;">
					<button type="submit" href="#" class="btn btn-primary">Download BibTex</button><br><br>
			  </div>
			  <div class="filterArea">
				<h3 class="card-title">Filters</h3>
				<hr>
				
				<h5 class="card-title">Literature Type</h5>
				<div id="containerLiteratureType">	
					<div id="rowLiteratureType1" class="rowMarginTop">
						<select id="selectLiteratureType1" name="selectLiteratureType1">
							<option value="AllField">Anywhere</option>
							<option value="Title">Title</option>
							<option value="ContribAuthor">Author</option>
							<option value="Abstract">Abstract</option>
							<option value="Fulltext">Full text</option>
							<option value="Affiliation">Author Affiliation</option>
							<option value="Keyword">Author Keyword</option>
							<option value="ConferenceLocation">Conference Location</option>
							<option value="ConferenceSponsor">Conference Sponsor</option>
							<option value="Contrib">Name</option>
							<option value="PubIdSortField">ISBN/ISSN</option>
							<option value="DOI">DOI</option>
						</select>
						<input id="buttonLiteratureType1" type="button" value="+" onclick="addRowLiteratureType()" class="add-del-Button"><br>
					</div>
				</div>
				
				<div id="containerSubcategory">
				<h5 class="card-title">Sub-Category</h5>
					<div id="rowSubcategory1" class="rowMarginTop">
						<select id="selectSubcategory1" name="selectSubcategory1">
							<option value="AllField">Anywhere</option>
							<option value="Title">Title</option>
							<option value="ContribAuthor">Author</option>
							<option value="Abstract">Abstract</option>
							<option value="Fulltext">Full text</option>
							<option value="Affiliation">Author Affiliation</option>
							<option value="Keyword">Author Keyword</option>
							<option value="ConferenceLocation">Conference Location</option>
							<option value="ConferenceSponsor">Conference Sponsor</option>
							<option value="Contrib">Name</option>
							<option value="PubIdSortField">ISBN/ISSN</option>
							<option value="DOI">DOI</option>
						</select>
						<input id="buttonSubcategory1" type="button" value="+" onclick="addRowSubcategory()" class="add-del-Button"><br>
					</div>
				</div>
				
				<div id="containerReleaseDate">
				<h5 class="card-title">Release Date</h5>
					<div id="rowReleaseDate1" class="rowMarginTop">
						<select id="selectReleaseDate1" name="selectReleaseDate1">
							<option value="AllField">Anywhere</option>
							<option value="Title">Title</option>
							<option value="ContribAuthor">Author</option>
							<option value="Abstract">Abstract</option>
							<option value="Fulltext">Full text</option>
							<option value="Affiliation">Author Affiliation</option>
							<option value="Keyword">Author Keyword</option>
							<option value="ConferenceLocation">Conference Location</option>
							<option value="ConferenceSponsor">Conference Sponsor</option>
							<option value="Contrib">Name</option>
							<option value="PubIdSortField">ISBN/ISSN</option>
							<option value="DOI">DOI</option>
						</select>
						<input id="buttonReleaseDate1" type="button" value="+" onclick="addRowReleaseDate()" class="add-del-Button"><br>
					</div>
				</div>
				
				<div id="containerLanguages">
				<h5 class="card-title">Languages</h5>
					<div id="rowLanguages1" class="rowMarginTop">
						<select id="selectLanguages1" name="selectLanguages1">
							<option value="AllField">Anywhere</option>
							<option value="Title">Title</option>
							<option value="ContribAuthor">Author</option>
							<option value="Abstract">Abstract</option>
							<option value="Fulltext">Full text</option>
							<option value="Affiliation">Author Affiliation</option>
							<option value="Keyword">Author Keyword</option>
							<option value="ConferenceLocation">Conference Location</option>
							<option value="ConferenceSponsor">Conference Sponsor</option>
							<option value="Contrib">Name</option>
							<option value="PubIdSortField">ISBN/ISSN</option>
							<option value="DOI">DOI</option>
						</select>
						<input id="buttonLanguages1" type="button" value="+" onclick="addRowLanguages()" class="add-del-Button"><br>
					</div>
				</div>
					
			  </div>
			</div>

	  </div>
	</div>
</div>


<script>

  var i=1;
  function addRowLiteratureType() {
      var original = document.getElementById('rowLiteratureType' + i);
      var clone = original.cloneNode(true);
      i++;

      clone.id = "rowLiteratureType" + i;
      clone.getElementsByTagName('select')[0].id = "selectLiteratureType" + i;
      clone.getElementsByTagName('input')[0].id = "buttonLiteratureType" + i;

      clone.getElementsByTagName('select')[0].name = "selectLiteratureType" + i;
      
      original.parentNode.appendChild(clone);
      
      original.getElementsByTagName('input')[0].value = "-";
      original.getElementsByTagName('input')[0].setAttribute("onclick", "deleteRowLiteratureType(this)");

  }

  function deleteRowLiteratureType(thisButton){
      thisButton.parentNode.remove();
  }



  var j=1;
  function addRowSubcategory() {
      var original = document.getElementById('rowSubcategory' + j);
      var clone = original.cloneNode(true);
      j++;

      clone.id = "rowSubcategory" + j;
      clone.getElementsByTagName('select')[0].id = "selectSubcategory" + j;
      clone.getElementsByTagName('input')[0].id = "buttonSubcategory" + j;

      clone.getElementsByTagName('select')[0].name = "selectSubcategory" + j;
      
      original.parentNode.appendChild(clone);
      
      original.getElementsByTagName('input')[0].value = "-";
      original.getElementsByTagName('input')[0].setAttribute("onclick", "deleteRowSubcategory(this)");

  }

  function deleteRowSubcategory(thisButton){
      thisButton.parentNode.remove();
  }
  
  
  var k=1;
  function addRowReleaseDate() {
      var original = document.getElementById('rowReleaseDate' + k);
      var clone = original.cloneNode(true);
      k++;

      clone.id = "rowReleaseDate" + k;
      clone.getElementsByTagName('select')[0].id = "selectReleaseDate" + k;
      clone.getElementsByTagName('input')[0].id = "buttonReleaseDate" + k;

      clone.getElementsByTagName('select')[0].name = "selectReleaseDate" + k;
      
      original.parentNode.appendChild(clone);
      
      original.getElementsByTagName('input')[0].value = "-";
      original.getElementsByTagName('input')[0].setAttribute("onclick", "deleteRowReleaseDate(this)");

  }

  function deleteRowReleaseDate(thisButton){
      thisButton.parentNode.remove();
  }
  
  
  var l=1;
  function addRowLanguages() {
      var original = document.getElementById('rowLanguages' + l);
      var clone = original.cloneNode(true);
      l++;

      clone.id = "rowLanguages" + l;
      clone.getElementsByTagName('select')[0].id = "selectLanguages" + l;
      clone.getElementsByTagName('input')[0].id = "buttonLanguages" + l;

      clone.getElementsByTagName('select')[0].name = "selectLanguages" + l;
      
      original.parentNode.appendChild(clone);
      
      original.getElementsByTagName('input')[0].value = "-";
      original.getElementsByTagName('input')[0].setAttribute("onclick", "deleteRowLanguages(this)");

  }

  function deleteRowLanguages(thisButton){
      thisButton.parentNode.remove();
  }

</script>

</body>
</html>
